<a href="https://colab.research.google.com/github/HazemHassine/Machine-Learning-Components/blob/master/Recommender_Systems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [217]:
!curl -L "https://storage.googleapis.com/kaggle-data-sets/3405/6663/bundle/archive.zip?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20230102%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20230102T133541Z&X-Goog-Expires=259200&X-Goog-SignedHeaders=host&X-Goog-Signature=32486ad2feef9598c73c49bbdea9bf9b6b673496a35c46cd0b399f7176d75b94cab8e4ab0a7289f4dcea7fce30825bfd61075edc57cc1fb81919efadd42327481198d06df90968507e483a0fcdaf017b08dc5afb80728f49fc55f94ba36ecb3f59faeafbf7ba5ed1ed6831ca7adf9f760669bf38a547a4abd4b5e60a6379e23742594e3b0417f87422cbc6655cf09990cacba4f77624f2d53eabfb8b7f38b10f5a5177ee2d37d2852455bcf9c3ee985379a0282dc0841c5edbded0ead3a5a8b02afd095d41676a5f1f4cb7244bfc2d3824d89dc5ebccdf88c420eea70589ba1f12e04c91a30d96901ec70db9f90fb4c6b47ec5c74189edfcfed2125830e87823" -o data.zip
!mkdir data
!unzip *.zip -d data -Y
!ls data/

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  227M  100  227M    0     0  8892k      0  0:00:26  0:00:26 --:--:-- 8976k
mkdir: cannot create directory ‘data’: File exists
Archive:  data.zip
caution: filename not matched:  -Y
credits.csv   links.csv        movies_metadata.csv  ratings_small.csv
keywords.csv  links_small.csv  ratings.csv

In [196]:
import numpy as np
import pandas as pd
ratings = pd.read_csv("./data/ratings_small.csv")
print(ratings.head())
movies_meta_data = pd.read_csv("./data/movies_metadata.csv")
genres = movies_meta_data[["genres","id"]]
ratings.drop(["timestamp"], axis=1, inplace = True)

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [197]:
empty_indexs_genres = []
for i in range(len(genres)):
  if genres.iloc[i, 0] == "[]":
    empty_indexs_genres.append(i)

In [198]:
genres.drop(empty_indexs_genres, axis=0,inplace=True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [199]:
import json
def json_to_id_list(genres):
  genres = genres.replace("'", "\"")
  genres = json.loads(genres)
  for i in range(len(genres)):
    genres[i] = genres[i]["id"]
  return genres

In [200]:
genres["genres_id_list"] = genres["genres"].apply(json_to_id_list)

<ipython-input-200-4a9c90b7065c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  genres["genres_id_list"] = genres["genres"].apply(json_to_id_list)

In [201]:
genres.drop(["genres"], axis=1,inplace=True)

In [202]:
all_genres = []
for liste in genres.genres_id_list:
  for i in liste:
    all_genres.append(i)
all_genres = np.array(all_genres)
genres_real = np.unique(all_genres)

In [203]:
genres.head()

      id   genres_id_list
0    862  [16, 35, 10751]
1   8844  [12, 14, 10751]
2  15602      [10749, 35]
3  31357  [35, 18, 10749]
4  11862             [35]

In [204]:
print(ratings.head())
print(ratings.describe())

   userId  movieId  rating
0       1       31     2.5
1       1     1029     3.0
2       1     1061     3.0
3       1     1129     2.0
4       1     1172     4.0
              userId        movieId         rating
count  100004.000000  100004.000000  100004.000000
mean      347.011310   12548.664363       3.543608
std       195.163838   26369.198969       1.058064
min         1.000000       1.000000       0.500000
25%       182.000000    1028.000000       3.000000
50%       367.000000    2406.500000       4.000000
75%       520.000000    5418.000000       4.000000
max       671.000000  163949.000000       5.000000

In [205]:
print(f"number of rates are {len(ratings['rating'])}")
print("number of unique users who rated are",ratings["userId"].nunique())
print(f"number of unique movies is {ratings['movieId'].nunique()}")

number of rates are 100004
number of unique users who rated are 671
number of unique movies is 9066

In [206]:
ratings.isna().sum() # no empty values

userId     0
movieId    0
rating     0
dtype: int64

In [207]:
ratings.head()

   userId  movieId  rating
0       1       31     2.5
1       1     1029     3.0
2       1     1061     3.0
3       1     1129     2.0
4       1     1172     4.0

In [208]:
type(ratings["userId"][0])

numpy.int64

In [209]:
import math as m
ratings["userId"] = ratings["userId"].apply(int)
ratings["movieId"]= ratings["movieId"].apply(int)

In [210]:
table = pd.DataFrame(index=[ratings.movieId.unique()], columns=ratings.userId.unique())

In [211]:
table.head()

,1,2,3,4,5,6,7,8,9,10,...,662,663,664,665,666,667,668,669,670,671
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1029,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1061,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1172,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [212]:
for index, row in ratings.iterrows():
  table.loc[row["movieId"], row["userId"]] = row["rating"]

In [213]:
table.head()

,1,2,3,4,5,6,7,8,9,10,...,662,663,664,665,666,667,668,669,670,671
31,2.5,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1029,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN
1061,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN
1129,2.0,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1172,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [214]:
offset = 671

In [215]:
all_genres += offset
genres_real += offset

In [226]:
genres_dict = {k: np.array([m.nan for _ in range(len(table))]) for k in genres_real}

In [231]:
genres_df = pd.DataFrame(genres_dict, index=table.index)

In [ ]:
genres_df

In [233]:
df3 = pd.concat([table,genres_df])

In [243]:
table = df3

In [244]:
genres.head()

      id   genres_id_list
0    862  [16, 35, 10751]
1   8844  [12, 14, 10751]
2  15602      [10749, 35]
3  31357  [35, 18, 10749]
4  11862             [35]

In [ ]:
len(genres["id"].unique())

In [245]:
for index, row in genres.iterrows():
  for id in row["genres_id_list"]:
    table.loc[row["id"], id+offset] = 1

KeyboardInterrupt: ignored